* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.heading img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}