* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.navigation-icons {
  width: 50%;
  margin: 0 auto; 
  display: flex;
  justify-content: right;
}

.navigation-icons .dotted {
  display: none;
}

.navigation-icons .refresh {
  border: 1px dashed #98a2b3;
  border-radius: 20px;
  padding: 10px
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.heading img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.link-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 50px auto;
  width: 50%;
}

.link-section a{
  text-decoration: none;
  background-color: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #101828;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 50px;
}