* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.navigation-icons {
  width: 50%;
  margin: 0 auto; 
  display: flex;
  justify-content: right;
}

.navigation-icons .dotted {
  display: none;
}

.navigation-icons .refresh {
  border: 1px dashed #98a2b3;
  border-radius: 20px;
  padding: 10px
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.heading img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

